.posts {
  padding-top: 2.48rem !important;
  position: relative;
  > div {
    > div:not(.empty) {
      &:first-child {
        min-height: 63rem;
      }
      &:last-child {
        padding: 4rem 0;
        li {
          margin-right: 0.6rem;
        }

        > ul {
          position: relative;
          max-width: 29rem;
          button {
            font-weight: 700;
            padding: 1rem;
            background-color: $page-btn-bg;
            color: $page-btn-color;
            transition: all 0.14s ease;
            &:hover {
              opacity: 0.85;
            }
          }

          > li {
            &:first-child {
              > button {
                padding: 1rem 2rem;
                min-width: 8rem;
              }
            }

            &:nth-child(2) {
              max-width: 12.3rem;
              min-width: 12.3rem;
              overflow: hidden;
              > ul {
                transition: transform 0.3s ease;
                width: 12.3rem;
                > li {
                  > button {
                    width: 3.5rem;
                    height: 3.5rem;
                  }
                }
              }
            }

            &:last-child {
              button {
                font-size: 1rem !important;
                width: 3.5rem;
                height: 3.5rem;
              }
            }
          }

          &,
          ul {
            display: flex;
          }
        }
      }
    }

    &.empty {
      padding: 30vh 2rem;
      > h1 {
        font-weight: 200;
        text-transform: uppercase;
        text-align: center;
      }
    }
  }

  @media screen and (max-width: $tablet) {
    max-width: calc(100% - 4rem);
  }
}
