.toolbar {
  &__navigation {
    transition: all .3s;
    z-index: 10;
    transform: translate(0, 0);
    animation: nav-in .8s cubic-bezier(1, 1.5, .6, 1);
    transition: all .45s 1s cubic-bezier(.43, 1.77, .15, 1.5);

    &:hover::before {
      width: 100%;
      height: 100%;
    }

    &__out {
      animation-name: nav-out;
      animation-duration: .8s;
      animation-delay: .9s;
      animation-timing-function: ease-in;

      > .toolbar__navigation__list-items {
        ul > *:not(:last-child) {
          animation-name: drawer-item-out;
          animation-duration: .9s;
          animation-fill-mode: forwards;
          opacity: 1;

          &:first-child {
            animation-delay: 0s !important;
          }

          &:nth-child(2) {
            animation-delay: .3s !important;
          }

          &:nth-child(3) {
            animation-delay: .6s !important;
          }
        }
      }
    }

    &__list-items {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      padding: 15% 0 9% 0;
      background-color: rgba(#fff, .35);
      color: #111;

      > ul {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 10%;
        margin: auto 0;
        background-color: rgba(#fff, .4);
        > *:not(:last-child) {
          font-size: 2.5rem;
          border-bottom: 1px solid #EEE;
          transform: translate(0, 0) scale(1) skewY(0) skewX(0);
          transition: all .3s;
          opacity: 0;
          animation-name: drawer-item-in;
          animation-delay: 0;
          animation-duration: .6s;
          animation-fill-mode: forwards;
          background-color: rgba(#fff, .56);

          &:first-child {
            animation-delay: .7s;
          }

          &:nth-child(2) {
            animation-delay: .9s;
          }

          &:nth-child(3) {
            animation-delay: 1.1s;
          }

          &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            background: linear-gradient(90deg, rgb(24, 18, 47), #1f1f1f, rgb(15, 42, 35), rgb(24, 18, 47));
            background-size: 300%;
            width: 0;
            height: 100%;
            z-index: -1;
            transform: translate(0, 0) scale(1) skewY(0) skewX(0);
            transition: transform .38s cubic-bezier(1, 1.9, 0, 1), width .58s cubic-bezier(1, 1.9, 0, 1) ;
            animation: drawer-items 7s linear infinite;
          }

          &:hover:before {
            width: 100%;
            transform: scale(1) skewY(0) skewX(-13deg);
          }

          &:hover {
            color: #fff !important;
            font-size: 3.1rem;
            text-shadow: 0 0 .4rem #fff;
          }

          & , > * {
            display: flex;
            width: 80%;
            height: 100%;
            justify-content: center;
            align-items: center;
          }
        }

        > *:last-child {
          position: absolute;
          bottom: 5%;
          left: 50%;
          transform: translate(-50%, 5%);
          color: #FFF;
          text-shadow: 1px 1px 2px #000;
          font-size: 1.8rem;
          transition: all .2s;
          letter-spacing: 1px;

          &:hover {
            font-size: 1.9rem;
          }
        }
      }
    }
  }
}
