.drawer-button {
  z-index: 15;
  position: fixed;
  top: 3.5rem;
  right: 3.5rem;
  transform: translate(0, 0);
  background-color: green;
  border: 0;
  width: 62px;
  height: 62px;
  cursor: pointer;
  border-radius: 50%;

  &__line {
    position: absolute;
    transform: translate(-50%, -50%);

  }

  &:hover {

    .drawer-button__line {
    }
  }

}
