.drawer-button {
  z-index: 444;
  position: fixed;
  top: 3.5rem;
  right: 2.8rem;
  width: 52px;
  height: 40px;
  padding: 3px 5px;
  cursor: pointer;
  background-color: transparent;
  transition: transform .16s ease-out;

  &:active {
    transform: scale(.93) perspective(5000);
  }

  &__line {
    position: absolute;
    left: 50%;
    height: 2px;
    border: 0;
    width: 4.2rem;
    background: #393737;
    z-index: 1;
    transform: translate3d(-50%, -50%, 0) scale(1);
    transition: transform .45s cubic-bezier(.43, 1.77, .15, 1.5);
    &:first-child {
      top: 11px;
    }

    &:nth-child(2) {
      top: 50%;
    }

    &:last-child {
      bottom: 11px;
      transform: translate3d(-50%, 50%, 0) rotate(0);
    }

  }

  &.hover-in {
    .drawer-button__line {
      transform: translate3d(-50%, -50%, 0) scale(1.08);

      background-color: #000 !important;

      &:first-child {
        transform: translate3d(-50%, -4px, 0) scale(1.08);
      }

      &:last-child {
        transform: translate3d(-50%, 4px, 0) scale(1.08);
      }

    }
  }

  &.rotate-in {
    animation: rotate-back-in 1.2s cubic-bezier(.2,.86,.35,1) forwards;
    > * {
      transition: transform .55s cubic-bezier(.43,.77,.15,1.5);
      &:first-child {
        transform: translate3d(-50%, 9px, 0);
      }
      &:last-child {
        transform: translate3d(-50%,-9px,0);
      }
    }
  }
  &.rotate-out {
    animation: rotate-back-out 1.2s cubic-bezier(.2,.86,.35,1) forwards;

    > * {
      transition: transform .55s cubic-bezier(.43,.77,.15,1.5);

      &:first-child {
        transform: translate3d(-50%, 10px, 0) rotate(45deg) scale(1.5);
      }
      &:nth-child(2) {
        opacity: 0;
      }
      &:last-child {
        transform: translate3d(-50%, 3px, 0) rotate(-45deg) scale(1.5);
      }
    }
  }

  &.hover-out {
    > * {
      &:first-child {
        transform: translate3d(-50%, 10px, 0) rotate(55deg) scale(1.6)!important;
      }
      &:last-child {
        transform: translate3d(-50%, -10px, 0) rotate(-55deg) scale(1.6)!important;
      }

    }
  }

}
