.toolbar__navigation {
  & > .wire {
    z-index: 10;
    position: absolute;
    background-color: #000;


    &:first-child {
      top: 0;
      left: 50%;
      transform: translate(-50%, 0);
      width: 1px;
      height: 12.6%;
    }

    &:nth-child(2) {
      top: 50%;
      left: 0;
      transform: translate(0, -50%);
      width: 12.6%;
      height: 1px;
    }




  }
}
