a,
a:active,
a:visited,
:link {
  color: inherit;
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  user-select: none;
  font-family: BebasNeue-Bold, sans-serif !important;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-size: 1.6rem !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: normal;
  word-wrap: break-word;
  font-kerning: normal;
}

img {
  border-style: none;
}

@media only screen and (max-width: 480px) {
  html {
    font-size: 100%;
  }
}

button {
  overflow-x: hidden;
  background-color: transparent;
  outline: none;
  border: 0;
}
a,
a:active,
a:visited,
:link {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  user-select: none;
  font-family: BebasNeue-Bold, sans-serif !important;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 62.5% !important;
  color: hsla(0, 0%, 0%, 0.8);
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  overflow-x: hidden;

  margin: 0;
  font-size: 1.6rem !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: normal;
  word-wrap: break-word;
  font-kerning: normal;
}

img {
  border-style: none;
}

button {
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: 0;
}

input {
  outline: none;
  border: 0;
}

li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 200;
}

h1 {
  font-size: 2.5rem;
}

@media screen and (max-width: $tablet) {
  body {
    font-size: 1.2rem !important;
  }

  h1 {
    font-size: 2.1rem !important;
  }
  h2 {
    font-size: 1.9rem !important;
  }
}

.btn-player {
  height: 4rem;
  width: 4rem;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(90deg);
  font-size: 2rem;
  color: $white;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid $white;
  transition: all 0.3s ease-out;

  &:hover {
    background-color: $white;
    color: $page-btn-color;
  }
}
