$main-grey: #dadada;
$white: #fff;
$light-blue: #2c83b0;
$default-font-size: 1.3rem;

//header
$header-bg: #111213;

// Posts
$page-btn-bg: #eee;
$page-btn-color: #9a9da1;

// Post
$button-bg: #5caad2;
$post-right-gradient: linear-gradient(
  to right,
  $main-grey,
  #e3e3e3,
  #ececec,
  #f6f6f6,
  #ffffff
);

// sidebar

$sidebar-bottom-gradient: linear-gradient(
  to bottom,
  $main-grey,
  #e3e3e3,
  #ececec,
  #f6f6f6,
  $white,
  $white
);

// icons
$svg-social-fill: #c1bfbf;

//SIZES
$mobile: 375px;
$tablet: 768px;
$desktop: 1200px;
