html {
  font-size: 62.5%;
  height: 100vh;
  width: 100vw;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  -webkit-font-smoothing: antialiased; }

body {
  overflow-x: hidden;
  overflow-y: hidden;
  position: relative; }

body, .container, #root {
  height: 100%; }

* {
  padding: 0;
  margin: 0;
  user-select: none; }

*, *::before, *::after {
  box-sizing: inherit; }

a {
  color: inherit;
  text-decoration: none; }

ul, ol {
  list-style: none; }

img {
  display: inline-block;
  vertical-align: top; }

pre, code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace; }

body {
  font-size: 1.5rem;
  background-color: #FFF; }

.container > div:nth-child(2) {
  height: 100vh;
  width: 100vw;
  color: #000; }
  .container > div:nth-child(2) > * {
    z-index: 3;
    position: absolute; }

.particles {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 0;
  animation: particlesBegin 3.3s ease-out; }

@keyframes drawerItem {
  from {
    background-position: 0 0; }
  to {
    background-position: 300% 0; } }

@keyframes particlesBegin {
  0% {
    transform: scale(0); }
  50% {
    transform: scale(0); }
  75% {
    transform: scale(0); }
  100% {
    transform: scale(1); } }

@keyframes nav-in {
  0% {
    transform: translate(0, -100%); }
  100% {
    transform: translate(0, 0); } }

@keyframes nav-out {
  0% {
    transform: translate(0, 0); }
  100% {
    transform: translate(0, -100%); } }

@keyframes drawer-item-in {
  0% {
    transform: translateY(-150%); }
  100% {
    transform: translateY(0%);
    opacity: 1; } }

@keyframes drawer-item-out {
  0% {
    transform: translateY(0);
    opacity: 1; }
  100% {
    transform: translateY(-60%);
    opacity: 0; } }

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 222; }
  .header nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.toolbar__navigation {
  transition: all .3s;
  z-index: 10;
  transform: translate(0, 0);
  animation: nav-in 0.8s cubic-bezier(1, 1.5, 0.6, 1); }
  .toolbar__navigation__out {
    animation-name: nav-out;
    animation-duration: .7s;
    animation-delay: .9s;
    animation-timing-function: cubic-bezier(1, 1.5, 0.6, 1); }
    .toolbar__navigation__out .toolbar__navigation__list-items ul > *:not(:last-child) {
      animation-name: drawer-item-out !important;
      animation-duration: .9s !important;
      animation-fill-mode: forwards !important;
      opacity: 1; }
      .toolbar__navigation__out .toolbar__navigation__list-items ul > *:not(:last-child):first-child {
        animation-delay: 0s !important; }
      .toolbar__navigation__out .toolbar__navigation__list-items ul > *:not(:last-child):nth-child(2) {
        animation-delay: .3s !important; }
      .toolbar__navigation__out .toolbar__navigation__list-items ul > *:not(:last-child):nth-child(3) {
        animation-delay: .6s !important; }
  .toolbar__navigation__list-items {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 10% 0 9% 0;
    background-color: rgba(255, 255, 255, 0.7);
    color: #111; }
    .toolbar__navigation__list-items > ul {
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0 10%;
      margin: auto 0; }
      .toolbar__navigation__list-items > ul > *:not(:last-child) {
        font-size: 2.5rem;
        border-bottom: 1px solid #EEE;
        transform: scale(1) skewY(0) skewX(0);
        transition: all .3s;
        opacity: 0;
        animation-name: drawer-item-in;
        animation-delay: 0;
        animation-duration: .6s;
        animation-fill-mode: forwards; }
        .toolbar__navigation__list-items > ul > *:not(:last-child):first-child {
          animation-delay: .7s; }
        .toolbar__navigation__list-items > ul > *:not(:last-child):nth-child(2) {
          animation-delay: .9s; }
        .toolbar__navigation__list-items > ul > *:not(:last-child):nth-child(3) {
          animation-delay: 1.1s; }
        .toolbar__navigation__list-items > ul > *:not(:last-child)::before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          background: linear-gradient(90deg, #18122f, #1f1f1f, #0f2a23, #18122f);
          background-size: 300%;
          width: 0;
          height: 100%;
          z-index: -1;
          transition: width 0.58s cubic-bezier(1, 1.9, 0, 1);
          animation: drawerItem 7s linear infinite; }
        .toolbar__navigation__list-items > ul > *:not(:last-child):hover:before {
          width: 100%; }
        .toolbar__navigation__list-items > ul > *:not(:last-child):hover {
          color: #fff !important;
          font-size: 3.1rem;
          text-shadow: 0 0 .4rem #fff; }
          .toolbar__navigation__list-items > ul > *:not(:last-child):hover:first-child {
            transform: scale(1) skewY(0) skewX(-19deg); }
          .toolbar__navigation__list-items > ul > *:not(:last-child):hover:nth-child(2) {
            transform: scale(1.06) skewY(0) skewX(0); }
          .toolbar__navigation__list-items > ul > *:not(:last-child):hover:nth-child(3) {
            transform: scale(1) skewY(0) skewX(19deg); }
        .toolbar__navigation__list-items > ul > *:not(:last-child), .toolbar__navigation__list-items > ul > *:not(:last-child) > * {
          display: flex;
          width: 100%;
          height: 100%;
          justify-content: center;
          align-items: center; }
      .toolbar__navigation__list-items > ul > *:last-child {
        position: absolute;
        bottom: 5%;
        left: 50%;
        transform: translate(-50%, 5%);
        color: #FFF;
        text-shadow: 1px 1px 2px #000;
        font-size: 1.8rem;
        transition: all .2s;
        letter-spacing: 1px; }
        .toolbar__navigation__list-items > ul > *:last-child:hover {
          font-size: 1.9rem; }

.drawer-button {
  z-index: 15;
  position: fixed;
  top: 3rem;
  right: 2.6rem;
  transform: translate(0, 0);
  background-color: transparent;
  border: 0;
  width: 56px;
  height: 56px;
  cursor: pointer; }
  .drawer-button__line {
    position: absolute;
    left: 50%;
    height: 2px;
    border: 0;
    width: calc(100% - 13px);
    background-color: #000;
    z-index: 1;
    transition: all .3s; }
    .drawer-button__line:first-child {
      top: 13px;
      transform: translate(-50%, -50%); }
    .drawer-button__line:nth-child(2) {
      top: 50%;
      transform: translate(-50%, -50%); }
    .drawer-button__line:last-child {
      bottom: 13px;
      transform: translate(-50%, 50%); }
  .drawer-button:hover .drawer-button__line:last-child {
    animation: drawer-button-hover-line_two .3s; }

.toolbar__navigation > .wire {
  z-index: 10;
  position: absolute;
  background-color: #000; }
  .toolbar__navigation > .wire:first-child {
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    width: 1px;
    height: 12.6%; }
  .toolbar__navigation > .wire:nth-child(2) {
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    width: 12.6%;
    height: 1px; }
