html {
  font-size: 62.5%;
  height: 100vh;
  width: 100vw;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  -webkit-font-smoothing: antialiased; }

body {
  overflow-x: hidden;
  overflow-y: hidden;
  position: relative; }

body, .container, #root {
  height: 100%; }

* {
  padding: 0;
  margin: 0; }

*, *::before, *::after {
  box-sizing: inherit; }

a {
  color: inherit;
  text-decoration: none; }

ul, ol {
  list-style: none; }

img {
  display: inline-block;
  vertical-align: top; }

pre, code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace; }

body {
  color: #010101;
  font-size: 1.5rem; }

.container > div:nth-child(2) {
  height: 100vh;
  width: 100vw; }
  .container > div:nth-child(2) > * {
    z-index: 3;
    position: absolute; }

.particles {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 0;
  animation: particlesBegin 3.3s ease-out; }

@keyframes drawerButton {
  0% {
    box-shadow: 0 -1.3rem 0 #333, 0 1.3rem 0 #333; }
  50% {
    box-shadow: 0 -1.2rem 0 #333, 0 1.2rem 0 #333; }
  100% {
    box-shadow: 0 -1.3rem 0 #333, 0 1.3rem 0 #333; } }

@keyframes drawerButtonHover {
  0% {
    box-shadow: 0 -1.3rem 0 #333, 0 1.3rem 0 #333; }
  25% {
    box-shadow: 1rem -1.3rem 0 #333, -1rem 1.3rem 0 #333; }
  50% {
    box-shadow: -1rem -1.6rem 0 #333, 1rem 1.6rem 0 #333; }
  75% {
    box-shadow: 0 -1.45rem 0 #333, 0 1.45rem 0 #333; }
  100% {
    box-shadow: -1rem -1.6rem 0 #333, 1rem 1.6rem 0 #333; } }

@keyframes drawer {
  0% {
    font-size: 2.5rem;
    letter-spacing: 0; }
  20% {
    font-size: 2.5rem;
    letter-spacing: 0; }
  70% {
    font-size: 3.5rem;
    letter-spacing: 2px; }
  100% {
    font-size: 2.9rem;
    letter-spacing: 2px; } }

@keyframes drawerItem {
  from {
    background-position: 0 0; }
  to {
    background-position: 300% 0; } }

@keyframes particlesBegin {
  0% {
    transform: scale(0); }
  50% {
    transform: scale(0); }
  75% {
    transform: scale(1.4); }
  100% {
    transform: scale(1); } }

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 222; }
  .header .toolbar__navigation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.toolbar__navigation {
  transition: all .3s;
  z-index: 10; }
  .toolbar__navigation__list-items {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 11% 0 10% 0;
    background-color: rgba(255, 0, 0, 0.861);
    color: #969090; }
    .toolbar__navigation__list-items > ul {
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0 10%;
      margin: auto 0; }
      .toolbar__navigation__list-items > ul > *:not(:last-child) {
        font-size: 2.5rem;
        border-bottom: 1px solid #fff;
        transform: scale(1) skewY(0) skewX(0);
        transition: all .3s; }
        .toolbar__navigation__list-items > ul > *:not(:last-child)::before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          background: linear-gradient(90deg, #8e0e00, #1f1c18);
          background-size: 300%;
          width: 0;
          height: 100%;
          z-index: -1;
          transition: width 0.58s cubic-bezier(1, 1.9, 0, 1);
          animation: drawerItem 7s linear infinite; }
        .toolbar__navigation__list-items > ul > *:not(:last-child):hover:before {
          width: 100%; }
        .toolbar__navigation__list-items > ul > *:not(:last-child):hover {
          color: #fff;
          font-size: 3.1rem;
          text-shadow: 0 0 .4rem #fff; }
          .toolbar__navigation__list-items > ul > *:not(:last-child):hover:first-child {
            transform: scale(1) skewY(0) skewX(-19deg); }
          .toolbar__navigation__list-items > ul > *:not(:last-child):hover:nth-child(2) {
            transform: scale(1.06) skewY(0) skewX(0); }
          .toolbar__navigation__list-items > ul > *:not(:last-child):hover:nth-child(3) {
            transform: scale(1) skewY(0) skewX(19deg); }
        .toolbar__navigation__list-items > ul > *:not(:last-child), .toolbar__navigation__list-items > ul > *:not(:last-child) > * {
          display: flex;
          width: 100%;
          height: 100%;
          justify-content: center;
          align-items: center; }
      .toolbar__navigation__list-items > ul > *:last-child {
        position: absolute;
        bottom: 5%;
        left: 50%;
        transform: translate(-50%, 5%);
        color: #FFF;
        text-shadow: 1px 1px 2px #000;
        font-size: 1.8rem;
        transition: all .2s;
        letter-spacing: 1px; }
        .toolbar__navigation__list-items > ul > *:last-child:hover {
          font-size: 1.9rem; }

.drawer-button {
  z-index: 15;
  position: fixed;
  top: 3.5rem;
  right: 3.5rem;
  transform: translate(0, 0);
  background-color: green;
  border: 0;
  width: 62px;
  height: 62px;
  cursor: pointer;
  border-radius: 50%; }
  .drawer-button__line {
    position: absolute;
    transform: translate(-50%, -50%); }

.toolbar__navigation > .wire {
  z-index: 10;
  position: absolute;
  background-color: #000; }
  .toolbar__navigation > .wire:first-child {
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    width: 1px;
    height: 12.6%; }
  .toolbar__navigation > .wire:nth-child(2) {
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    width: 12.6%;
    height: 1px; }
