.layout {
}

.layout {
  position: relative;
  min-width: 355px;
  opacity: 0;

  animation-name: opacityIn;
  animation-duration: 0.2s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}
