.portfolio {

  &-box {
    padding-top: 8rem;
    min-height: 100%;
    max-width: 80%;
    width: auto;
    margin: 0 auto;
    text-align: center;

    .heading-primary {
      > span:first-child {
        color: rgb(49, 42, 68);
        text-transform: uppercase;
      }
    }

    > .sub-app:last-child {
      margin-top: 2rem;

    }

  }

}
