.navigation {
  height: 10rem;
  display: flex;
  justify-content: flex-end;
  padding: 0 3rem 1rem 0;
  flex: 1;
  background-color: transparent;

  > button {
    display: none;
  }
  > ul {
    display: flex;
    height: 10rem;
    align-items: flex-end;
    > li {
      list-style: none;
      font-size: 1.2rem;
      color: $white;
      text-transform: uppercase;
      display: block;
      &:not(:last-child) {
        margin-right: 1rem;
      }
    }
  }

  @media screen and (max-width: $desktop) {
    margin-top: 1rem;

    > ul {
      height: 2rem;
      justify-content: space-around;
      margin: 0 auto;
    }
  }

  @media screen and (max-width: $tablet) {
    padding: 0;
    padding-bottom: 1rem;
    flex-direction: column;
    height: 100%;

    > ul {
      height: 100%;
      max-height: 0;
      overflow: hidden;
      flex-direction: column !important;
      justify-content: space-around;
      margin: 0 auto;
      align-items: center;
      transition: all 0.3s ease-in-out;

      > li {
        height: 2.5rem;
        text-align: center;
      }
    }

    > button {
      display: block;
    }
  }
}
