section {

  &.about {

    .letter-box {
      height: 100%;
      display: flex;
      justify-content: center;
      text-align: center;
      flex-direction: column;
      padding: 7.4rem 3.5rem;

      > .lettering {
        z-index: 111;
        display: inline;
        max-width: 47rem;
        min-width: auto;
        margin: 0 auto;
        position: relative;
        transform: scale(.981);
        transition: all .2s;
        padding: 0;


        > :hover {
          transform: scale(1);

          .heading-primary-sub__tag {
            transition: all .2s;
            font-size: 2rem !important;
            text-shadow: 0 0 1px #000 !important;

            &-big-g {
              transition: all .2s;
              font-size: 2.1rem !important;
            }
          }
        }

        > .heading-primary {

          > span {
            display: block;
          }

          > span:first-child {
            color: #333;
          }

          > span:nth-child(2) {
            color: #959595;

            > span:first-child {
              display: block;
              color: #fff;
              margin: 1rem 0 .2rem 0;
              text-shadow: 0 0 4px #000;
              font-size: 1.67rem;
              transition: all .2s;

              > span {
                font-weight: 700;
                font-size: 1.67rem;
                color: #FFF;
                margin-left: 1px;
                text-shadow: 0 0 9px #000;
                transition: all .2s;
                letter-spacing: 1px;
              }
            }

            > span:nth-child(2) {
              color: #fff;
              text-shadow: 1px 0 1px #000;
              font-size: 3.2rem;

              > span {
                font-size: 2.9rem;
                color: rgb(254, 213, 0);
              }
            }
          }
        }

        > p {
          margin: 1rem 0;
          letter-spacing: 1px;
          color: #333
        }

        > address {
          height: 2rem;

          > span {
            user-select: text;
          }
        }
      }
    }
  }
}
