.particles {
  position: fixed;
  z-index: 0;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 0;
  animation: particlesBegin 3.3s ease-out;
  > canvas {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
}
