.home {
  min-height: 100vh;

  > *:not(.slider):not(main) {
    padding: 0 2.3rem 0 3rem;

    @media screen and (max-width: $tablet) {
      &:not(.header) {
        padding: 0 1rem !important;
      }
    }
  }

  > main {
    overflow-x: auto;
    display: flex;
    position: relative;
    justify-content: space-between;
    > * {
      &.posts:first-child {
        padding: 0 2.3rem 0 3rem;
        @media screen and (max-width: $tablet) {
          padding: 2rem 1rem !important;
        }
        // post
        flex: 1;
      }

      &.sidebar {
      }
    }
  }
}

.page {
  min-height: 100vh;
  @media screen and (min-width: $tablet) {
    padding-top: 11rem;
  }

  @media screen and (max-width: $tablet) {
    padding-top: 12.1rem;
  }
}
