.header {
  width: 100vw;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  background-color: $header-bg;
  z-index: 10;
  &::before {
    content: "";
    position: absolute;
    height: 100%;
    top: 0;
    right: -20%;
    width: 60%;
    background-image: radial-gradient(
      circle,
      #ffffff,
      #bcbcbd,
      rgba(#7e7e7e, 0.4),
      rgba(#444545, 0.1),
      rgba(#111213, 0)
    );
    opacity: 0.11;
  }

  &,
  > div {
    min-height: 11rem;
    overflow: hidden;
  }

  > div {
    @media screen and (min-width: $tablet) {
      padding-right: 2rem;
    }
    position: relative;
    width: 100%;

    > div {
      position: relative;
      &.search-box {
        padding-top: 1.7rem;
        display: flex;
        justify-content: flex-end;
        > div {
          position: relative;
          > input {
            font-size: 1rem;
            padding-left: 3.5rem;
            width: 12.5rem;
            height: 1.9rem;
            border-radius: 2rem;
          }

          > svg {
            position: absolute;

            &:first-child {
              height: 1.3rem;
              width: 1.3rem;
              top: 0.4rem;
              left: 0.5rem;
            }

            &:nth-child(2) {
              height: 0.9rem;
              width: 0.9rem;
              left: 1.8rem;
              bottom: 4px;
            }
          }
        }

        @media screen and (max-width: $tablet) {
          margin-bottom: 1rem;
        }
      }

      &:nth-child(2) {
        @media screen and (max-width: $desktop) {
          flex-direction: column;

          > div {
            > a {
              margin: 0 auto;
              width: 70%;
              > img {
                width: 100%;
              }
            }
          }
        }
        &,
        div,
        .navigation {
          @media screen and (min-width: $desktop) {
            max-height: 5.8rem;
          }
        }

        position: relative;
        @include flex-between-center;
      }
    }
  }
}
