.back-bar {
  min-height: 15.1rem;
  background-color: #000;
  padding: 0 2rem 0 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  > h1 {
    line-height: 3.4rem;
    color: #a3a3a3;
    max-width: 62.84rem;
    font-weight: 200;
    font-size: 2.9rem;
  }

  @media screen and (max-width: $tablet) {
    flex-direction: column;
    > h1 {
      padding-top: 1rem;
    }
  }
}
