.sidebar {
  padding: 2.3rem 2rem;
  background-image: $sidebar-bottom-gradient;
  max-width: 28.7rem;
  min-height: 77.6rem;
  max-height: 77.6rem;
  transition: all 0.6s ease-in-out;

  @media screen and (min-width: $tablet) {
    width: 28.7rem;
  }

  @media screen and (max-width: $tablet) {
    width: 2rem;
    overflow: hidden;
    position: absolute;
    right: 0;

    display: flex;

    > div:first-child {
      margin-left: -2rem;
      min-width: 4rem;
      height: 100%;
      margin-right: 4rem;
      > button {
        display: block !important;
        width: 3rem;
        height: 3rem;
        border: 1px solid #222;
        color: #333;
        transform: rotate(180deg);
      }
    }
  }

  > div {
    &:first-child {
      > button {
        display: none;
      }
    }
    &:last-child {
      > div {
        min-width: 24.7rem;
        &:not(:last-child) {
          margin-bottom: 4rem;
        }
        > h2 {
          font-size: 2.5rem;
          margin-bottom: 2rem;
        }

        > p,
        li {
          line-height: 3rem;
        }

        > p {
          font-size: $default-font-size;
          > span {
            display: block;
          }
        }

        > a {
          color: $light-blue;
        }

        &:nth-child(2) {
          > p {
            margin-bottom: 3rem;
          }
        }
      }
    }
  }
}
