.social {
  width: 100%;
  display: flex;
  justify-content: space-between;
  max-width: 36rem;
  padding: 1rem;
  > * {
    border-radius: 50%;
    display: block;
    padding: 0.8rem;
    background-color: #313133;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.15s ease;

    > svg {
      width: 3rem;
      height: 3rem;
      @media screen and (max-width: $tablet) {
        width: 2.2rem;
        height: 2.2rem;
      }
    }

    &:hover {
      transform: scale(1.09);
    }
  }
}
