footer {
  padding: 2rem 3rem;
  padding-bottom: 6rem;
  background-color: #0f0f0f;
  display: flex;
  justify-content: space-between;

  > div {
    flex: 1;
    > h1 {
      color: $white;
      padding-bottom: 1.4rem;
    }

    > p {
      font-size: $default-font-size;

      &.light {
        color: #a2a2a2;
      }

      &:not(.light) {
        color: #6f6e6e;
      }
    }
    &:first-child {
      > p {
        &:not(:last-child) {
          margin-bottom: 2rem;
        }
      }
    }

    &:first-child,
    &:last-child {
      > p {
        line-height: 2rem;
        > span {
          display: block;
        }
      }
    }
    &:nth-child(2) {
      > div.grid {
        height: 100%;
        grid-template-columns: repeat(3, 32%);
        > div {
          height: 100%;
          border: 2px solid #222;
          background-position: center !important;
          background-repeat: no-repeat;
          background-size: cover !important;
        }
      }
    }

    &:last-child {
      > div {
        max-width: 28rem;
        margin-top: 4rem;
        padding: 0;
      }
    }
  }

  @media screen and (max-width: $tablet) {
    padding: 0 1rem;
  }

  @media screen and (min-width: $desktop) {
    > div {
      width: 31%;
      max-width: 32rem;
    }
  }

  @media screen and (max-width: $desktop) {
    flex-direction: column;

    > div {
      padding: 4rem 0;

      &:not(:nth-child(2)) {
        max-width: 32rem;
        margin: 0 auto;
      }

      &:nth-child(2) {
        margin-bottom: 4rem;
        border-bottom: 1px solid #222;
        border-top: 1px solid #222;

        > h1 {
          text-align: center;
          padding-bottom: 4rem;
        }
        > div.grid {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          margin: 0 auto;

          > div {
            height: 24rem;
            transition: transform 0.6s ease;
            &:nth-child(odd) {
              margin-top: 8rem;
            }

            &:hover {
              transform: scale(0.94);
            }
          }
        }
      }
    }
  }
}
