.post {
  display: flex;
  padding-top: 2px;
  padding-bottom: 3rem;
  max-width: 66.5rem;
  min-height: 18.975rem;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: -1;
    height: 1px;
    background-image: $post-right-gradient;
  }

  &:not(:last-child) {
    margin-bottom: 3rem;
  }

  > div {
    &:first-child {
      padding: 4px 5px;
      background-color: $main-grey;
      height: 15.9rem;

      > div {
        height: 15.1rem;
        box-sizing: border-box;
        width: 15rem;
        overflow: hidden;

        background-position: center !important;
        background-repeat: no-repeat;
        background-size: cover !important;
      }
    }
    &:nth-child(2) {
      min-height: 15.1rem;
      flex: 1;
      padding-left: 4rem;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      > div {
        &:first-child {
          margin-bottom: 1rem;
          > h1 {
            font-size: 2.5rem;
            font-weight: 200;
          }

          > span {
            color: $light-blue;
            font-size: 1rem;
          }
        }

        &:nth-child(2) {
          > p {
            font-size: $default-font-size;
            min-height: 4.5rem;
            overflow: hidden;
          }

          > button {
            width: 14.2rem;
            height: 2.62rem;
            font-size: 1.1rem;
            color: #e2e1e1;
            background-color: $button-bg;
            box-shadow: 0 1px 0 #333, inset 0 1rem 1rem rgba($white, 0.26);
            margin-top: 2rem;
            border-radius: 4px;
          }
        }
      }
    }
  }

  @media screen and (max-width: $tablet) {
    max-width: calc(100% - 4rem);
    > div {
      &:first-child > div {
        width: 10rem;
      }

      &:nth-child(2) {
        padding-left: 2rem;
      }
    }
  }
}
