@keyframes drawerButton {
  0% {
    box-shadow: 0 -1.3rem 0 #333, 0 1.3rem 0 #333;
  }

  50% {
    box-shadow: 0 -1.2rem 0 #333, 0 1.2rem 0 #333;
  }


  100% {
    box-shadow: 0 -1.3rem 0 #333, 0 1.3rem 0 #333;
  }
}


@keyframes drawerButtonHover {
  0% {
    box-shadow: 0 -1.3rem 0 #333, 0 1.3rem 0 #333;
  }

  25% {
    box-shadow: 1rem -1.3rem 0 #333, -1rem 1.3rem 0 #333;
  }

  50% {
    box-shadow: -1rem -1.6rem 0 #333, 1rem 1.6rem 0 #333;
  }

  75% {
    box-shadow: 0 -1.45rem 0 #333, 0 1.45rem 0 #333;

  }

  100% {
    box-shadow: -1rem -1.6rem 0 #333, 1rem 1.6rem 0 #333;
  }
}

@keyframes drawer {
  0% {
    font-size: 2.5rem;
    letter-spacing: 0;
  }

  20% {
    font-size: 2.5rem;
    letter-spacing: 0;
  }

  70% {
    font-size: 3.5rem;
    letter-spacing: 2px;
  }

  100% {
    font-size: 2.9rem;
    letter-spacing: 2px;
  }
}
