@keyframes drawerItem {
  from {
    background-position: 0 0;
  }

  to {
    background-position: 300% 0;
  }
}

@keyframes particlesBegin {
  0% {
    transform: scale(0);
  }

  50% {
    transform: scale(0);
  }

  75% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes nav-in {
  0% {
    transform: translate(0, -100%);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes nav-out {
  0% {
    transform: translate(0, 0);
  }


  100% {
    transform: translate(0, -100%);
  }
}

@keyframes drawer-item-in {
  0% {
    transform: translateY(-150%);
  }

  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes drawer-item-out {
  0% {
    transform: translateY(0);
    opacity: 1;

  }


  100% {
    transform: translateY(-60%);
    opacity: 0;
  }
}
