body {
  color: #010101;
  font-size: 1.5rem;
}

.container {
  > div:nth-child(2) {
    height: 100vh;
    width: 100vw;
    > * {
      z-index: 3;
      position: absolute;

    }
  }
}

.particles {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 0;
  animation: particlesBegin 3.3s ease-out;

}
