.slider {
  width: 100% !important;
  height: calc(100vh - 15.1rem) !important;
  background-attachment: fixed !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: center !important;

  @media screen and (max-width: 469px) {
    height: calc(100vh - 17rem) !important;
  }
}
