.sponsors {
  z-index: 2;
  margin-bottom: 3rem;

  > h1 {
    margin-bottom: 3rem;
  }
  > div {
    > article {
      padding: 7px;
      background-color: $main-grey;
      transition: all 0.3s ease-out;

      > div {
        height: 12rem;
        background-position: center !important;
        background-repeat: no-repeat;
        background-size: cover !important;
      }

      &:hover {
        transform: scale(0.98);
      }
    }
  }

  @media screen and (min-width: $desktop) {
    > div {
      grid-template-columns: repeat(6, 15.5%);
    }
  }

  @media screen and (max-width: $desktop) {
    padding: 0 1rem;

    > div {
      grid-template-columns: repeat(4, 22.5%);
    }
  }

  @media screen and (max-width: $tablet) {
    > div {
      grid-template-columns: repeat(2, 48.5%);
    }
  }

  @media screen and (max-width: $mobile) {
    > div {
      grid-template-columns: repeat(1, 100%);
    }
  }
}
